#artikulli 
{

    width: 960px;
    float: none;
    display: table;
    margin: 2% auto;
    
}

article 
{

    display: inline-block;
    width:  225px;
    text-align: center;
    background-color: rgb(15, 56, 75);
    padding-bottom: 10px;
    margin-bottom: 50px;
    color: rgb(190, 185, 185);
}

article a 
{

    margin-top: 5px;
    font-size: 13px;
    text-decoration: none;
    color: rgb(10, 37, 53);
    
}

article a:hover
{
    color: rgb(18, 32, 78);
}
#artikulli2, #artikulli3, #artikulli4 
{
    margin-left: 2%;
}
.foto
{

    display: inline-block;
    margin-left: 10px;
    background-color: grey;
    text-align: center;
    width: 225px;
    
}
