body

{
	
	font-family: 'Times New Roman', Times;
	color: white;
	background-color: rgba(3, 0, 7, 0.952);
  width: 1000px;
  margin: auto;
  
}
nav

{

  background-color: #333;
  overflow: auto;
  width: 100%;

}
.left

{

  float: left;
  
}
.right

{

  float: right;
  margin-right: 5px ;
  
}
li

{

display: inline-block;

}
.left li a

{

  width: 90px;
  display: block;
  background: #333;
  font-size: 11px;
  text-decoration: none;
  color: gray;
  text-transform: uppercase;
  text-align: center;
  padding: 2px;
  padding-top: 0px;
  
}
.left li a:hover

{

  color: orange;
  
}
.fa 

{

  padding: 7px;
  font-size: 17px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 50%;
  
}
.fa-linkedin, .fa-twitter, .fa-google-plus, .fa-pinterest, .fa-rss

{

  background:black;
  color: white;
  
}
.fa-linkedin:hover

{

	background: #007bb5;
  
}
.fa-twitter:hover

{

	background: #55ACEE;
  
}
.fa-google-plus:hover

{

	 background: #dd4b39;
   
}
.fa-pinterest:hover

{

	background: #cb2027;
  
}
.fa-rss:hover

{

	background: #ff6600;

}
form

{

  width: 800px;
  margin-left: 31.5em;
  margin-top: -80px;

}
figure

{

 margin-left: 20px; 
 margin-top: 50px;

}
.hr2

{

      margin-top: -20px;

}
.dropdown .dropbtn 

{

  font-size: 11px;  
   background-color: #333;
   color: gray;
   font-family: 'Times New Roman', Times;
  border: none;
  outline: none;
  margin: 0; 
  
}
.dropdown .dropbtn:hover

{

   background-color: orange;

}
.dropdown-content 

{

  display: none;
  position: absolute;
  background-color: #333;
 font-family: 'Times New Roman', Times;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

.dropdown-content a 

{

  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

}

.dropdown-content a:hover

{

  background-color: #333;

}

.dropdown:hover .dropbtn 

{

  background-color: #333 ;

}
.dropdown:hover .dropdown-content

{

  display: block;

}
.dropdown 

{

  float: left;
  overflow: hidden;

}

#top

{

    width:960px;
    display: table;
    padding:2% 3%;   

}
#on

{

    border:1px solid whitesmoke;
    width:55%;
    float: left;
    padding:4px;
    position: relative; 
    margin: 0 auto;
    margin-top: 1%;

}
#on .big 

{

  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 97.5%;
  margin-bottom: 1.5%;
  text-indent: 10px;

}
#pm

{

    width:45%;
    float: right;

}
#in

{

    width: 43%;
    float: right;

}
#out

{

    padding:4px;
    position: relative; 
    margin: 0 auto;
    
    }
#row

{

    padding:4px;
    position: relative; 
    margin: 0 auto;
    
    }
    
#column
{

     padding:4px;
    position: relative; 
    margin: 0 auto;

}

#out .pm
{

  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 97%;
  padding: 1px;
  margin-bottom: 2%;
  line-height: 30%;
  
}

#row .pm
{

  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 97%;
  padding: 1px;
  margin-bottom: 2%;
  line-height: 30%;

}

.button 
{

    background-color: #333;
    color: white;
    padding: 8px;
    border-radius: 5px;
    border: solid 1px;
    border-color: rgb(70, 92, 99);
    position: inherit;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 0px 2px 0.2px white;

}

#left
{

    float:center;
    font-size: 25px;

}
